body {
  font-family: "Lato", sans-serif;
}

.anim-text-banner {
  font-size: 7vw;
  font-weight: bold;
  white-space: nowrap;
  padding: 100px 60px;
  text-transform: uppercase;
  font-weight: 400;
}
.anim-text-banner > span {
  position: absolute;
  display: inline-block;
  clip: rect(0px, 0px, 300px, 0px);
  color: #575757;
}

.anim-text-parent {
  position: relative;
  color: #ff9933;
}
.anim-text-parent > .v-bar {
  position: absolute;
  width: 0px;
  height: 1vw;
  background: #ff9933;
  display: inline-block;
  top: 0px;
  left: -20px;
  transform: translate(-100%, 450%);
}
.anim-text-parent > .anim-text {
  overflow: hidden;
  white-space: nowrap;
  top: 0;
  left: 0;
  position: absolute;
  transition: width 1s ease;
  clip: rect(0px, 0px, 300px, 0px);
}